$gray: #797979;

.editor {
	@apply relative  block mb-3;

	> textarea {
		@apply py-2 px-2 w-full border-b resize-none;
		min-height: 200px;
		&::placeholder {
			color: $gray;
		}
	}
}
.error {
	@apply -bottom-4 left-0 w-full text-primary z-10;
	font-size: 12px;
}
