$gray: #797979;

.input {
	@apply relative  block mb-4;

	> input {
		@apply py-2 px-2 w-full border-b text-base;
		&::placeholder {
			color: $gray;
		}
	}
}
.error {
	@apply relative -bottom-1 left-0 w-full text-primary z-10;
	font-size: 12px;
}
